<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootSecurityApp (:8083)" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="spring-boot-security" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="com.akvone.sandbox.security.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.akvone.sandbox.security.SpringBootSecurityApp" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <additionalParameters>
      <param>
        <option name="enabled" value="true" />
        <option name="name" value="server.port" />
        <option name="value" value="8083" />
      </param>
    </additionalParameters>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>