<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootAdminApplication (:8080)" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ACTIVE_PROFILES" />
    <additionalParameters>
      <param>
        <option name="enabled" value="true" />
        <option name="name" value="server.port" />
        <option name="value" value="8080" />
      </param>
    </additionalParameters>
    <module name="spring-boot-admin" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.akvone.sandbox.SpringBootAdminApp" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="com.akvone.sandbox.admin.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>